<%- include('partials/head')%>

<div class="container-fluid d-flex flex-column justify-content-between p-0 admin-page">
    <%- include('partials/navbar')%>
        <div class="container-fluid h-100">
            <!--  Mobile Formatting -->
            <div class="d-lg-none h-100 d-flex justify-content-center">
                <div class="row w-100 overflow-scroll">
                    <div class="col-12 admin-panel d-flex flex-column justify-content-center align-items-center">
                        <h1>Total Shots</h1>
                        <h3><%= allShoots.length %></h3>
                    </div>
                    <div class="col-12 admin-panel overflow-scroll">
                        <h1 class="text-center p-1">Client List</h1>
                        <ul class="list-group list-group-flush">
                            <% allShoots.forEach(shoot => { %>
                                <li class="list-group-item"> <%= shoot.plate %> </li>
                            <% })%>
                        </ul>
                    </div>
                    <div class="col-12 admin-panel">
                        <%- include('partials/reserveShoot')%>
                    </div>
                    <div class="col-12 admin-panel">
                        <%- include('partials/newShoot')%>
                    </div>
                </div>
            </div>
            <!--  Desktop Formatting -->
            <div class="d-none d-lg-flex flex-column h-100 justify-content-center">
                    <div class="row h-50">
                        <div class="col admin-panel d-flex flex-column justify-content-center align-items-center">
                            <h1>Total Shots</h1>
                            <h3><%= allShoots.length %></h3>
                        </div>
                        <div class="col admin-panel overflow-scroll">
                            <h1 class="text-center p-2">Client List</h1>
                            <ul class="list-group list-group-flush">
                                <% allShoots.forEach(shoot => { %>
                                   <li class="list-group-item"> <%= shoot.plate %> </li>
                                <% })%>
                            </ul>
                        </div>
                    </div>
                    <div class="row h-50">
                        <div class="col admin-panel">
                            <%- include('partials/reserveShoot')%>
                        </div>
                        <div class="col admin-panel">
                            <%- include('partials/newShoot')%>
                        </div>
                    </div>
            </div>
        </div>



    <%- include('partials/foot')%>
</div>

