<%- include('partials/head')%>
<%- include('partials/navbar')%>
<%- include('partials/plateSearch')%>

<div class="container-fluid p-0 h-100 body-container">

    <!-- Header Section -->
    <div >
        <!-- Mobile Devices -->
        <div class="d-lg-none">
            <div class="row position-relative text-center">
                <img src="https://res.cloudinary.com/drwy1imlr/image/upload/f_auto,q_auto/frontSideShot_r9bvlm.png" class="img-fluid" alt="">
                <div class="middle-text">
                    <h1 class="styledText mainText negOffset text-white">MEZZ</h1>
                    <h1 class="styledText mainText offset text-white">SHOTS</h1>
                </div>
            </div>
        </div>
        <!-- Desktop Devices -->
        <div class="d-none d-lg-block">
            <div class="row position-relative text-center">
                <img src="https://res.cloudinary.com/drwy1imlr/image/upload/f_auto,q_auto/v1634606140/desktop_banner.png" class="img-fluid header-image" alt="">
                <div class="middle-text">
                    <h1 class="styledText mainText negOffset text-white">MEZZ</h1>
                    <h1 class="styledText mainText offset text-white">SHOTS</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Section -->
    <%- include('partials/contact')%>
    <a href="/shoots">
        <div class="row banner-row position-relative text-center">
            <img src="https://res.cloudinary.com/drwy1imlr/image/upload/f_auto,q_auto/v1634606140/z7oubgqdc8u9rofjllk6.png" class="img-fluid banner-image" alt="">
            <div class="overlay"></div>
            <div class="middle-text">
                <h1 class="text-white banner-text">View All Shoots</h1>
            </div>
        </div>
    </a>
    <%- include('partials/foot')%>
</div>

<script src="../js/bootstrapValidation.js"></script>

