<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/plateSearch')%>
<div class="container-fluid p-0 body-container">

    <!-- Header Section -->
    <div class="row">
        <div class="col text-center">
            <h1>Plate: <%= foundShoot.plate %></h1>
            <h3>Date: <%= foundShoot.date %></h3>
        </div>
    </div>
    <div class="row photoRow">
        <div class="photoColumns">

        </div>
    </div>
    <!-- Mobile Formatting -->
    <div class="d-lg-none">
        <div class="row">
            <div class="col-12 p-0">
            <% foundShoot.photos.forEach (photo => { %>

                    <img class="img-fluid mobile-image-padding" src="<%= photo.url %>" alt="Card image cap">

            <% }) %>
            </div>
        </div>
    </div>
    <!-- Desktop Formatting -->
    <div class="d-none d-lg-block">
        <div class="image-row">
            <div class="image-col">
                <% foundShoot.photos.forEach((photo, index) => {
                    if (index < foundShoot.photos.length / 2) { %>
                        <img src="<%= photo.url %>" alt="" class="1">
                    <% }
                })%>
            </div>
            <div class="image-col">
                <% foundShoot.photos.forEach((photo, index) => {
                if (index >= foundShoot.photos.length / 2) { %>
                    <img src="<%= photo.url %>" alt="" class="2">
                <% }
                })%>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/foot')%>
