<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/plateSearch')%>
<div class="container-fluid p-0 body-container">
    <!-- Header Section -->
    <div class="row">
        <div class="col">
            <h1 class="text-center p-3">Recent Shoots</h1>
        </div>
    </div>
    <!-- Image Gallary -->
    <!-- Mobile Devices -->
    <div class="d-lg-none">
        <div class="row">
            <% shootsInfo.forEach(shoot => { %>
                <div class="row position-relative text-center p-0">
                    <img src="<%= shoot.photo %>" alt="" class="p-0">
                    <div class="bottom-text">
                        <a href='/shoots/<%= shoot.plate %>'><h1 class="shootCaption"><%= shoot.plate %></h1></a>
                    </div>
                </div>
            <% })%>
        </div>
    </div>
    <!-- Desktop -->
   <div class="d-none d-lg-block">
       <div class="image-row">
           <div class="image-col-3">
               <% shootsInfo.forEach((shoot, index) => {
               if (index < shootsInfo.length / 3) { %>
                   <div class="row position-relative text-center">
                       <img src="<%= shoot.photo %>" class="<%= index %>>" alt="">
                       <div class="bottom-text">
                           <a href='/shoots/<%= shoot.plate %>'><h3 class="shootCaption"><%= shoot.plate %></h3></a>
                       </div>
                   </div>
               <% }
               }) %>
           </div>
           <div class="image-col-3">
               <% shootsInfo.forEach((shoot, index) => {
               if ((shootsInfo.length / 3) <= index && index < ((shootsInfo.length / 3) * 2)) { %>
                   <div class="row position-relative text-center">
                       <img src="<%= shoot.photo %>" class="<%= index %>>" alt="">
                       <div class="bottom-text">
                           <a href='/shoots/<%= shoot.plate %>'><h3 class="shootCaption"><%= shoot.plate %></h3></a>
                       </div>
                   </div>
               <% }
               }) %>
           </div>
           <div class="image-col-3">
               <% shootsInfo.forEach((shoot, index) => {
               if (index >= ((shootsInfo.length / 3) * 2)) { %>
                   <div class="row position-relative text-center">
                       <img src="<%= shoot.photo %>" class="<%= index %>>" alt="">
                       <div class="bottom-text">
                           <a href='/shoots/<%= shoot.plate %>'><h3 class="shootCaption"><%= shoot.plate %></h3></a>
                       </div>
                   </div>
               <% }
               }) %>
           </div>
       </div>
   </div>


</div>
<%- include('../partials/foot')%>
